[submodule "carla-rl/algorithms/stable-baselines3"]
	path = carla-rl/algorithms/stable-baselines3
	url = https://github.com/SwapnilPande/stable-baselines3.git
	ignore = dirty
[submodule "scenario_runner"]
	path = scenario_runner
	url = https://github.com/carla-simulator/scenario_runner.git
[submodule "leaderboard"]
	path = leaderboard
	url = https://github.com/kareido/leaderboard
	ignore = dirty
